* {
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
}

body {
  transition: 0.3s;
}

.main {
  display: flex;
  flex-flow: column nowrap;
}

.header {
  display: flex;
  flex-flow: column nowrap;
  background: #000000;
}

.navbar {
  display: flex;
  flex-flow: row nowrap;
  background: #2d4059;
}

.menu_1 {
  background: #ea5455;
  flex: 1 1 auto;
  transition: 0.3s;
}

.menu_1:hover {
  background:#66023c;
  transform: scale(1.2);
}

.menu_2 {
  background: #ea5455;
  flex: 5 1 auto;
}

.menu_3 {
  background: #ea5455;
  flex: 1 1 auto;
}

.main_text {
  background: #f07b3f;
  display: flex;
}

.h1 {
  background: #fed460;
  width: 100%;
}

.section {
  display: flex;
  background: #000000;
}

.articles {
  background: #4e4e6a;
  display: flex;
  flex-flow: row wrap;
  flex: 2 1 auto;
}

.article {
  background: #1f6cb0;
  flex: 1 1 40%;
}

.nav {
  background: #70a3c4;
  flex: 1 1 100%;
}

.aside {
  background: #f73f52;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.ad {
  background: #feea85;
  margin: 5px;
}

.footer {
  background: #000000;
  display: flex;
}

.contact {
  background: #e6af2e;
  width: 100%;
}

/*la versió per tauleta*/
@media all and (max-width: 768px) {
  body {
    background-color: #cccccc; 
  }
  .section {
    flex-direction: column;
  }
}

/*l'adaptació a versió Mobile*/
@media all and (max-width: 600px) {
  body {
    background-color: #999999; 
  }
  .articles {
    flex-direction: column;
  }
  .navbar {
    flex-direction: column;
  }
}
